.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  border: 2px dashed var(--blue);
  background-color: var(--blue-dark);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.container p {
  color: var(--blue);
}

.label {
  font-size: 18px;
  margin-bottom: 5%;
}

.icon {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;

  @media (min-width: 850px) {
    max-width: 200px;
  }
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 10px 5px 0px;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  transition: filter 0.25s;
}

.button:hover {
  filter: brightness(110%);
}

.button:active {
  filter: none;
}
