.container {
  width: 100%;
  aspect-ratio: 4/3;
  border: 2px dashed rgb(11, 194, 207);
  background-color: rgb(11 194 207 / 10%);
  border-radius: 10px;
}

.button {
  background-color: rgb(11, 194, 207);
}
