.main {
  /* set margins around sidebar */
  margin: 55px 0 0 0;
  padding: 10px 20px;

  @media (min-width: 850px) {
    margin: 10px 0 0 220px;
    padding: 10px 50px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 12px;
  background: #fff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -7px 0px 0px inset,
    rgba(0, 0, 0, 0.15) 0px 0px 4px 0px;
  margin-top: 20px;
  padding: 10px 18px 18px;

  @media (min-width: 850px) {
    flex-direction: row;
    padding: 20px 30px 30px;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 850px) {
    flex-direction: row;
  }
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.half {
  @media (min-width: 850px) {
    width: calc(50% - 10px);
  }
}

.third {
  @media (min-width: 850px) {
    width: calc(33% - 11px);
  }
}

.label {
  margin-bottom: 10px;
}

.toggle {
  background: #f7f7f7;
  padding: 4px 8px;
  margin: -7px 0px -5px;
  border-radius: 5px;
}

.toggle label {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 186px;
}

.toggle label > p {
  margin-left: 10px;
}

.textareaParent {
  /* textarea size is relative to parent, this is needed for full height */
  height: 100%;
}

.textarea {
  height: 100px;

  @media (min-width: 850px) {
    height: calc(100% - 30px);
  }
}

.submit {
  width: 100%;
  margin: 20px 0;
  text-align: right;
}
