.main {
  /* set margins around sidebar */
  margin: 55px 0 0 0;
  padding: 10px 20px;
  max-width: 1200px;

  @media (min-width: 850px) {
    margin: 10px 0 0 220px;
    padding: 10px 50px;
  }
}

.container {
  background: #fff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -7px 0px 0px inset,
    rgba(0, 0, 0, 0.15) 0px 0px 4px 0px;
  margin-top: 20px;
  padding: 30px;
}
